# Practice your variables!
Course: BBA 108-Essentials of Computing & Coding

Submission date: Sunday (19/09/21), 11:59 p.m.

Hey everyone! This is a practice bonus assignment worth 10 points. I **highly** encourage all of you to do this.

Please contact the following **on Slack** if there are any questions or issues:

- @Shourya Watwani 
- @Vanshika Raj 
- @Aryan Gupta 

Thank you! Happy coding :)

In [12]:
# My name

my_name="vrutik_gala"
my_name

'vrutik_gala'

In [13]:
# My age 

my_age=18
my_age

18

In [14]:
# number of trips taken by me in india

num_trips_in_india=15
num_trips_in_india

15

In [15]:
# number of trips outside india

num_trips_outside_india=4
num_trips_outside_india

4

In [16]:
#total number of trips taken

total_trips=(num_trips_in_india + num_trips_outside_india)
total_trips

19

In [17]:
# starting_phrase
starting_phrase="Total number of trips taken by me are "
starting_phrase

'Total number of trips taken by me are '

In [18]:
# sentence
sentence=(starting_phrase+str(total_trips))
sentence

'Total number of trips taken by me are 19'

In [19]:
# I have taken more trips within India than outside India 

trips_in_india_are_more=num_trips_in_india>num_trips_outside_india
trips_in_india_are_more

True

In [20]:
# Average number of trips taken in a year
average_trips_taken_in_a_year=(total_trips)/(my_age)
average_trips_taken_in_a_year

1.0555555555555556

In [23]:
# starting phrase
starting_phrase="average trips taken in a year are "
starting_phrase

'average trips taken in a year are '

In [24]:
#sentence
sentence=(starting_phrase+str(average_trips_taken_in_a_year))
sentence

'average trips taken in a year are 1.0555555555555556'